---
outputs:
    {% for stream in streams %}
    {{stream.name}}:
        Description:
            The ID of Kinesis stream '{{stream.name}}'.
        Value:
            Ref: {{stream.name}} 
    {{stream.name}}Arn:
        Description:
            The Arn of Kinesis stream '{{stream.name}}'.
        Value:
            "Fn::GetAtt":
              - {{stream.name}} 
              - Arn
    {% endfor %}
