# dev utilities
pypandoc
ipython
ipdb
pdbpp

# We need humilis for deployment
git+https://github.com/InnovativeTravel/humilis

# We need to install the layer in order to deploy it
-e .

-r requirements-test.txt
