---
outputs:
    CustomResourceFunctionArn:
        Description: The ARN of the Lambda function backing the custom resource
        Value:
            "Fn::GetAtt":
                - CustomResourceFunction
                - Arn
