---
resources:
    Bucket:
      Type: 'AWS::S3::Bucket'
      {# Use a random name for the bucket #}
      Properties: {}
    StreamRole:
      Type: 'AWS::IAM::Role'
      Properties:
        AssumeRolePolicyDocument:
          Version: '2012-10-17'
          Statement:
            - Effect: Allow
              Principal:
                  Service: 'firehose.amazonaws.com'
              Action: 'sts:AssumeRole'
        {# Keep all environment role under the same path #}
        Path: {{ "/{}/".format(_env.name) }}
        Policies:
          - PolicyName: root
            PolicyDocument:
              Version: "2012-10-17"
              Statement:
                - Effect: Allow
                  Action:
                    - "s3:AbortMultipartUpload"
                    - "s3:GetBucketLocation"
                    - "s3:GetObject"
                    - "s3:ListBucket"
                    - "s3:ListBucketMultipartUploads"
                    - "s3:PutObject"
                  Resource:
                    "Fn::Join":
                      - ""
                      - ["arn:aws:s3:::", {Ref: Bucket}]
    DeliveryStream:
      Type: 'Custom::Firehose'
      Properties:
        ServiceToken: {{custom_resource_function_arn}}
        S3DestinationConfiguration:
          RoleARN:
            "Fn::GetAtt":
              - StreamRole
              - Arn
          BucketARN:
            "Fn::Join":
              - ""
              - ["arn:aws:s3:::", {Ref: Bucket}]
          BufferingHints:
            SizeInMBs: 1
            IntervalInSeconds: 60
