---
resources:
    {% if not sns_topic.startswith("arn:") %}
    SnsTopic:
      Type: "AWS::SNS::Topic"
      Properties:
        TopicName: {{sns_topic}}
    {% endif %}
    {% for stream in streams %}
    {{stream.name}}:
        Type: 'AWS::Kinesis::Stream'
        Properties:
            ShardCount: {{stream.shard_count or 1}}
    {% if sns_topic %}
    {{stream.name}}ReadThroughputAlarm:
      Type: "AWS::CloudWatch::Alarm"
      Properties:
        AlarmDescription: "{{stream.name}} read throughput has been exceeded"
        AlarmActions:
          {% if not sns_topic.startswith("arn:") %}
          - Ref:
              SnsTopic
          {% else %}
          - {{sns_topic}}
          {% endif %}
        MetricName: ReadProvisionedThroughputExceeded
        Namespace: AWS/Kinesis
        Statistic: Maximum
        Period: 60
        EvaluationPeriods: 1
        Threshold: 0
        ComparisonOperator: GreaterThanThreshold
        Dimensions:
          - Name: StreamName
            Value:
              Ref: {{stream.name}}
    {{stream.name}}WriteThroughputAlarm:
      Type: "AWS::CloudWatch::Alarm"
      Properties:
        AlarmDescription: "{{stream.name}} write throughput has been exceeded"
        AlarmActions:
          {% if not sns_topic.startswith("arn:") %}
          - Ref:
              SnsTopic
          {% else %}
          - {{sns_topic}}
          {% endif %}
        MetricName: WriteProvisionedThroughputExceeded
        Namespace: AWS/Kinesis
        Statistic: Maximum
        Period: 60
        EvaluationPeriods: 1
        Threshold: 0
        ComparisonOperator: GreaterThanThreshold
        Dimensions:
          - Name: StreamName
            Value:
              Ref: {{stream.name}}
    {% endif %}
    {% endfor %}
